# markdown basics
## markdown basics
### mark down basics
#### mark down basics
##### mark down basics
###### mark down basics

*  **point1**
* *point2*
* ***point3***

* Normal Text
 * sublist 1
 * sublist 2

> 1.point1
> 2.point2

* google site -- [1] http://www.google.com
* msn site -- [2] http://www.msn.com

* []option 1
* google site -- [google][1]
[1]: http://www.google.com

## python basics
* python version 3.7
- function programming
- object oriented programming 
- scripting programming

In [2]:
print("hello,gitam")

hello,gitam

In [3]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [4]:
print("hello,gitam","|||",end ="")
print("hyderabad",end="|||")
print("python programming")

hello,gitam |||hyderabad|||python programming

# assignment

In [8]:
n1 = 100
a = b = c = 20
a1,b1,c1 = 111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [ ]:
# data type conversions
  * int
  * float
  * string

In [13]:
   a = 100
   s1 = "python"
   s2 = 'p'
   f1 = 10.2
   print(a,s1,s2,f1)
   print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [2]:
i = 100
print(type(i))
s1 = str(i)#str() converts the input into string type 
print(type(s1))

<class 'int'>
<class 'str'>

In [3]:
# a number is given 1234 -
# digit count 
a1 = 1234
print(len(str(a1)))

4

# reading a value 
  * input("message") -- string

In [5]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your namerachana
rachana
<class 'str'>

In [6]:
# want a number as a input
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number1234
1234 <class 'int'>

## operations 
* operator is a symbol which is used to perform a specific kind of operation

## arthematic operators
 - +
 - -
 - *
 - /
 - =
 - %
 - //
 - **

In [15]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### presedence of the arth operators

- parenthesis
- power
- multiplication
- addition

## left to right

In [12]:
 x = 1+2**3/4+5
print(x)

8.0

In [13]:
x = 1+2**3/4*5
print(x)

11.0

## relational operators
- ==
- !=
- less than (<)
- greater than (>)
- greater than or equals to (>=)
- smaller than or equals to (<=)

## logical operators
- and
- or 
- not

In [17]:
i = 100
a1 = (i>15)and(i<800)
a2 = (i>15)and(i>800)
print(a1)
print(a2)

True
False

###  control flow statements 
- conditional statements 
- looping statements

### if-else statement

if boolean_condition:
   statements 
else :
   statements

In [19]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number4
even

In [20]:
# to check given number is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
   print("yes")
else:
    print("no")

enter a number15
yes

In [21]:
# test given number is positive,negative or zero
n = int(input("enter a number"))
if n == 0:
    print("zero")
elif n>0:
    print("positive number")
elif n<0:
    print("negative number")

enter a number-4
negative number