# markdown basics
## markdown basics
### mark down basics
#### mark down basics
##### mark down basics
###### mark down basics

*  **point1**
* *point2*
* ***point3***

* Normal Text
 * sublist 1
 * sublist 2

> 1.point1
> 2.point2

* google site -- [1] http://www.google.com
* msn site -- [2] http://www.msn.com

* []option 1
* google site -- [google][1]
[1]: http://www.google.com

## python basics
* python version 3.7
- function programming
- object oriented programming 
- scripting programming

In [2]:
print("hello,gitam")

hello,gitam

In [3]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [4]:
print("hello,gitam","|||",end ="")
print("hyderabad",end="|||")
print("python programming")

hello,gitam |||hyderabad|||python programming

# assignment

In [8]:
n1 = 100
a = b = c = 20
a1,b1,c1 = 111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [ ]:
# data type conversions
  * int
  * float
  * string

In [13]:
   a = 100
   s1 = "python"
   s2 = 'p'
   f1 = 10.2
   print(a,s1,s2,f1)
   print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>